/* override table width restrictions */
/* https://github.com/readthedocs/sphinx_rtd_theme/issues/117#issuecomment-153083280 */
@media screen and (min-width: 767px) {

  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal;
    word-wrap: break-word;
  }

  .wy-table-responsive {
    overflow: visible
  }
}

.wy-side-nav-search, .wy-nav-top {
  background-color: #1b5e20;
}

.wy-menu .caption span.caption-text {
  color: #4caf50;
}

div.leftside {
  width: 43%;
  padding: 0 2em 1em 0;
  float: left;
}

div.rightside {
  margin-left: 45%;
  /* float: right; */
}

.videowrapper {
  margin-bottom: 2em;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}